

/* .box  {
  width: 50%;
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  border-top: none;
  border-bottom: none;
  padding: 10px 16px;
  background-color: yellow;
}

.greyoe{
  width: 50%;
  padding: 10px 16px;
  background-color: #ced5da;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 12rem;
}

.greyoe>div{
  margin-right:  2rem;
}  */
